@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #8171b9, #4b63a5);
    --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
    font-family: var(--Sniglet-font);
    font-size: 0.9em;
    color: whitesmoke;
}

/*choices*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link:hover {
    color: black;
}

/*TEXT*/
header .row .col-md-7 {
    padding: 17vmin 1vmin;
    padding-bottom: 20vmin;

}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

/*Gift pic*/
header .row .col-md-5 img {
    display: inline-flex;
    box-shadow: 0px 2px 15px 0px rgba(5, 5, 5, 0.1);
    position: absolute;
    left: 900px;
    top: 220px;
    width: 550px;

    /*
    margin: auto -20px;
    float: bottom;
    width: 550px;
    height: 360px;*/
}

header {
    background: #4b63a5;
    /* fallback for old browsers */
    background: var(--bggradient);
}

header .container .col-md-7 {
    font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

.primary-btn {
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0px 2px 15px 0px rgba(5, 5, 5, 0.2);

}



footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}

footer .column i {
    color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i+i {
    padding: 0 0.5em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .icon-boxes h2 {
    font-size: 28px;
    font-weight: 700;
    color: #fbfeff;
    margin-bottom: 15px;
              font-family: "Rubik",
              sans-serif;

}

.about .icon-box {
    margin-top: 40px;
    
}

.about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #d0ecf9;
    border-radius: 50px;
    transition: 0.5s;
    
}

.about .icon-box .icon i {
    color: #f7f8f8;
    font-size: 32px;
    
}

.about .icon-box:hover .icon {
    background: #bd9cf1;
    border-color:#bd9cf1;
    
}

.about .icon-box:hover .icon i {
    color: #fff;
    
}

.about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 25px;
              font-family: "Rubik",
              sans-serif;

}

/*h3*/
.about .icon-box .title a {
    color: #f9fbfc;
    transition: 0.3s;
              font-family: "Rubik",
              sans-serif;

}

.about .icon-box .title a:hover {
    color: #bd9cf1;
    
}

.about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 20px;
              font-family: "Rubik",
              sans-serif;


}

.about .video-box {
    background: url("../assets/Untitleddesign_3.png") center center no-repeat;
    background-size: cover;
    min-height: 500px;
    
}

.about .col-xl-7{
font-family: "Rubik",
sans-serif;

}
